[user]
        name = Jamie Cook
        email = jamie.cook@veitchlister.com.au
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = /Users/ben/.gitignore
[github]
	user = jamiecook 
