[alias]
  ci = commit
  st = status
  co = checkout
  log = log --oneline --decorate
[user]
	name = Tom Adams
	email = tomjadams@gmail.com
[color]
  diff = auto
  status = auto
  branch = auto
[default]
	push = tracking
	pull = tracking
